:root{
    --card-background: #F0F0F033;
    --background-color: #030a1a;
    --header-background-color: #394153;
    --text-color: #D9D9D9;
    --input-text-color: #B4B4B4;
    --seen-green: #16F12C;
    --favorite-red: #E10E0E;
    --white: #FFFFFF;
    --black: #000000;
    
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    overflow-x: hidden;
    background-color: var(--background-color);
}